body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
}

/* timeblock buttons */
.time-block {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: 20px;
}

.hour {
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

.description {
    width: 60%;
    height: 60px;
}

.saveBtn {
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.saveBtn:hover {
    background-color: #45a049;
}
.past {
    background-color: #f8d7da;
}

.present {
    background-color: #d4edda;
}

.future {
    background-color: #cce5ff;
}
